# macOS
.DS_Store

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.py[cod]

# Project specific
hosted-agent-project
.foundry
*.pyc
apollo14.html
ntrs_data
mcp_server.py
mcp_test
09-content-understanding/pdfs/
team-deployments.json
16-evaluation/*.json
.foundry
.DS_Store