# macOS
.DS_Store

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.py[cod]

# Project specific
hosted-agent-project
.foundry
*.pyc
apollo14.html
_publish_guide_temp.html
ntrs_data
mcp_server.py
mcp_test
09-content-understanding/pdfs/
team-deployments.json
16-evaluation/*.json
.foundry
.DS_Store
mars-agent

17b-fine-tuning-iss/data

# 17b-fine-tuning
17b-fine-tuning/data/
17b-fine-tuning/models/
17b-fine-tuning/debug_*.py
17b-fine-tuning/*.json
17b-fine-tuning/*.log

# 17b-fine-tuning-iss
17b-fine-tuning-iss/data/
17b-fine-tuning-iss/models/
17b-fine-tuning-iss/cache_dir/
17b-fine-tuning-iss/.olive-cache/
17b-fine-tuning-iss/*.json
17b-fine-tuning-iss/*.yaml

.test-output